access_key = "{{ aws_access_key }}"
secret_key = "{{ aws_secret_key }}"
aws_account_id = "{{ aws_account_id }}"

vpc_name = "{{ provision_vpc_name }}"
ec2_key_name = "{{ provision_ec2_key_name}}"
ec2_key_path = "{{ provision_ec2_key_path }}"
bootstrap_bucket = "{{ provision_bootstrap_bucket }}""
