aws_access_key = "{{ aws_access_key }}"
aws_secret_key = "{{ aws_secret_key }}"
aws_account_id = "{{ aws_account_id }}"

aws_vpc_name = "{{ provision_vpc_name }}"
aws_keypair_name = "{{ provision_keypair_name }}"
aws_private_key = "{{ provision_private_key }}"

state_bucket = "{{ provision_state_bucket }}""
