#!/bin/sh

set -e

export AWS_ACCESS_KEY_ID="{{ aws_access_key }}"
export AWS_SECRET_ACCESS_KEY="{{ aws_secret_key }}"
export AWS_DEFAULT_REGION="{{ aws_region }}"

if [ "$#" -ne 1 ]
then
  echo "Usage: `basename "$0"` module_folder"
  exit 1
fi

cd $1

terraform get -update
terraform plan --module-depth=-1 -var-file=../terraform.tfvars
